<!-- Link Gitalk -->
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk/dist/gitalk.min.js"></script>

<div id="gitalk-container"></div>
<script>
const gitalk = new Gitalk({
  clientID: '{{ site.gitalk.clientID }}',
  clientSecret: '{{ site.gitalk.Secret }}',
  repo: '{{ site.gitalk.repo }}',
  owner: '{{ site.gitalk.owner }}',
  admin: ['{{ site.gitalk.admin }}'],
  id: location.pathname,
  distractionFreeMode: {{ site.gitalk.distractionFreeMode }}
});

gitalk.render('gitalk-container')
</script>
